In [130]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression

In [145]:
df=pd.read_csv('Real estate.csv',usecols=['No','X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores','Y house price of unit area'])

In [136]:
df=df[0:50]
df

,No,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,Y house price of unit area
0,1,32.0,84.87882,10,37.9
1,2,19.5,306.59470,9,42.2
2,3,13.3,561.98450,5,47.3
3,4,13.3,561.98450,5,54.8
4,5,5.0,390.56840,5,43.1
5,6,7.1,2175.03000,3,32.1
6,7,34.5,623.47310,7,40.3
7,8,20.3,287.60250,6,46.7
8,9,31.7,5512.03800,1,18.8
9,10,17.9,1783.18000,3,22.1
10,11,34.8,405.21340,1,41.4
11,12,6.3,90.45606,9,58.1
12,13,13.0,492.23130,5,39.3
13,14,20.4,2469.64500,4,23.8
14,15,13.2,1164.83800,4,34.3
15,16,35.7,579.20830,2,50.5
16,17,0.0,292.99780,6,70.1
17,18,17.7,350.85150,1,37.4
18,19,16.9,368.13630,8,42.3
19,20,1.5,23.38284,7,47.7
20,21,4.5,2275.87700,3,29.3
21,22,10.5,279.17260,7,51.6
22,23,14.7,1360.13900,1,24.6
23,24,10.1,279.17260,7,47.9
24,25,39.6,480.69770,4,38.8
25,26,29.3,1487.86800,2,27.0
26,27,3.1,383.86240,5,56.2
27,28,10.4,276.44900,5,33.6
28,29,19.2,557.47800,4,47.0
29,30,7.1,451.24380,5,57.1
30,31,25.9,4519.69000,0,22.1
31,32,29.6,769.40340,7,25.0
32,33,37.9,488.57270,1,34.2
33,34,16.5,323.65500,6,49.3
34,35,15.4,205.36700,7,55.1
35,36,13.9,4079.41800,0,27.3
36,37,14.7,1935.00900,2,22.9
37,38,12.0,1360.13900,1,25.3
38,39,3.1,577.96150,6,47.7
39,40,16.2,289.32480,5,46.2
40,41,13.6,4082.01500,0,15.9
41,42,16.8,4066.58700,0,18.2
42,43,36.1,519.46170,5,34.7
43,44,34.4,512.78710,6,34.1
44,45,2.7,533.47620,4,53.9
45,46,36.6,488.81930,8,38.3
46,47,21.7,463.96230,9,42.0
47,48,35.9,640.73910,3,61.5
48,49,24.2,4605.74900,0,13.4
49,50,29.4,4510.35900,1,13.2

In [137]:
df.isna().any()

No                                        False
X2 house age                              False
X3 distance to the nearest MRT station    False
X4 number of convenience stores           False
Y house price of unit area                False
dtype: bool

In [138]:
model=LinearRegression()

In [139]:
x=df[['X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores']]

In [140]:
y=df['Y house price of unit area']

In [141]:
model.fit(x,y)

LinearRegression()

In [142]:
model.predict([[20,306,9]])

C:\Users\akhbh\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([45.9007779])

In [143]:
model.score(x,y)

0.6253443017456184

In [155]:
df1=df.copy()

In [156]:
df1

,No,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,Y house price of unit area
0,1,32.0,84.87882,10,37.9
1,2,19.5,306.59470,9,42.2
2,3,13.3,561.98450,5,47.3
3,4,13.3,561.98450,5,54.8
4,5,5.0,390.56840,5,43.1
...,...,...,...,...,...
409,410,13.7,4082.01500,0,15.4
410,411,5.6,90.45606,9,50.0
411,412,18.8,390.96960,7,40.6
412,413,8.1,104.81010,5,52.5
413,414,6.5,90.45606,9,63.9

In [157]:
from sklearn.model_selection import train_test_split

In [158]:
x=df[['X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores']]
y=df['Y house price of unit area']

In [159]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=50)

In [160]:
model.fit(x_train,y_train)

LinearRegression()

In [161]:
x_test

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores
150,35.8,170.7311,7
269,17.6,837.7233,0
89,23.0,3947.9450,0
403,30.9,161.9420,9
115,20.6,737.9161,2
...,...,...,...
368,18.2,350.8515,1
145,2.1,451.2438,5
247,21.7,1055.0670,0
243,32.8,204.1705,8
74,6.8,379.5575,10

In [163]:
model.predict(x_test)

array([42.72048963, 34.75473447, 15.79459655, 46.26525434, 37.01540408,
       32.81221591, 44.14696087, 51.97006854, 43.71482533, 47.1097754 ,
       45.29490569, 43.57789741, 36.02578383, 32.56220136, 34.24325079,
       33.49864837, 49.00540911, 44.6649413 , 36.68438401, 34.19760815,
       47.17861965, 29.09229799, 47.04794938, 16.51823611, 52.30957934,
       16.62375707, 44.02686137, 49.32101515, 33.83897411, 30.04601526,
       30.30398679, 52.28675802, 33.11170716, 40.37272593, 40.7230712 ,
       33.48046692, 34.35735739, 34.11577562, 48.04238665, 32.24197691,
       46.9956688 , 50.91160068, 38.88255075, 48.19854598, 32.81630493,
       43.24877883, 16.51045588, 42.00102315, 46.95002616, 18.25470152,
       44.09543637, 34.19760815, 32.73972803, 37.11023445,  1.22477293,
       42.16158116, 34.26607211, 34.90339064, 37.05615441, 43.23822373,
       32.97905867, 34.70696785, 29.9775513 , 33.14845066, 42.73816893,
       46.48307695, 31.79022433, 47.21847226, 46.64334642, 43.34196212,
       32.86194757, 47.09675155, 32.86799426, 35.95457858, 43.24877883,
       31.99360067, 41.61014378, 29.69639825, 43.19521013, 49.00540911,
       49.48765774, 31.69561361, 48.01311167, 16.71584777, 46.43207291,
       44.64211997, 40.03683858, 39.90210963, 19.70833253, 41.49310801,
        6.08226324, 47.98589549, 43.34558007, 23.64068458, 17.12997958,
       49.32101515, 43.20608901, 34.94549209, 44.09543637, 38.80637234,
       40.42535266, 36.52188214, 44.6594294 , 44.27800693, 44.61378676,
       32.78013386, 38.92325344, 46.43821187, 41.91307686, 40.25249495,
       44.71083006, 36.86495553, 44.10899502,  3.78275864, 44.73482665,
       43.33579282, 43.29442147, 43.64636137, 39.97411174, 41.18865294,
       38.58111287, 46.43597171, 32.58023458, 44.40274153, 51.7130293 ])

In [164]:
model.score(x_train,y_train)

0.5357486509016012